/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	float: left;
	width: 100%;
}

.logo {
	float:left;
}

.navigation {
	float:right;
}

.sidebar {
	float: left;
	clear: both;
	width: 250px;
	height: 350px
}

.main-content {
	float: left;
	width: 100%;
	background-color: #6CAADD
}

.sub-content {
	float: right;
	width: 600px;
	height: 150px;
}
.sub-content-2 {
	float: right;
	width: 600px;
	height: 150px;

}

.footer {
	clear: both;
}
